<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>

    </header>
    <main>
        <div>
            <h1>Reminders</h1>
            <p><a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in todo_list_detail.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' x.id %}">{{x.task}}</a>
                        </td>
                        <td>
                            {{x.due_date}}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>
    </main>
    <footer>

    </footer>

</body>

</html>
