<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
    <nav>
        <p><a href="{% url 'todo_list_create'  %}">Create a new list</a></p>
        <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
    </nav>
</head>

<body>
    <header>

    </header>
    <main>
        <div>
            <h1>My lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Numbers of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todos in todo_list_list %}
                    <tr>
                        <td>
                            <a href="{%url 'todo_list_detail' todos.id%}">{{todos.name}}</a>
                        </td>
                        <td>
                            {{todos.items.all.count}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </main>

</body>

</html>
